* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Quattrocento", serif;
    color: #333;
    background-color: #eee;
}

h1 {
    font-family: "Oswald", serif;
    font-size: 3rem;
}